html, body {
  position: fixed;
}
.bottomControls {
  position: absolute;
  text-align: center;
  font-size: 2vw;
  height: 55px;
  bottom: 0px;
  width: 100%;
}
.bottomTex {
  position: absolute;
  text-align: center;
  bottom: 55px;
  width: 100%;
}
