/* Cube Space */
.cube-space {
  width: 100%;
  height: 100%;
}
/* Cube Space */

/* Bottom Controls */
.bottomControls {
  position: absolute;
  text-align: center;
  font-size: 2vw;
  height: 55px;
  bottom: 0px;
  width: 100%;
}
/* Bottom Controls */

.r-string {
  position: absolute;
  text-align: center;
  color: white;
  top: 2vh;
  width: 100%;
  font-size: 2vw;
  font-family: "Courier New";
}

/* r Cube */
.r-cube {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70%;
  height: 100%;
}
/* r Cube */

/* r View */
.r-plane {
  position: absolute;
  left: 60%;
  top: calc(50% - 12vw);
  width: 32vw;
  height: 24vw;
}
.r-piece {
  position: absolute;
  background: black;
  border: 3px solid black;
  width: 25%;
  height: 33.3%;
}
.r-up {
  right: 50%;
  top: 0%;
}
.r-right {
  right: 25%;
  top: 33.3%;
}
.r-front {
  right: 50%;
  top: 33.3%;
}
.r-down {
  right: 50%;
  top: 66.3%;
}
.r-left {
  right: 75%;
  top: 33.3%;
}
.r-back {
  right: 0%;
  top: 33.3%;
}
.r-sticker {
  position: relative;
  border: 2px solid black;
  float:left;
  width: 33.3%;
  height: 33.3%;
}
.O {
  background: #F60;
}
.B {
  background: #00D;
}
.W {
  background: #F3F3F3;
}
.R {
  background: #F00;
}
.G {
  background: #0A0;
}
.Y {
  background: #FE0;
}
/* r View */

.loading {
  position: relative;
  left: -5%;
  width: 110%;
}
