<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="settingsModal.hide()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="item item-divider">Speed: {{Global.cubeSpeed / 1000}}s</div>
      <div class="item range range-balanced">
        <i class="icon ion-ios-speedometer-outline"></i>
        <input type="range" name="volume" min="0" max="1000" step="50" ng-model="Global.cubeSpeed">
        <i class="icon ion-cube"></i>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
