<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSettingsModal()">Done</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <ion-toggle ng-model="Data.allowSerial" toggle-class="toggle-balanced">Allow serial connection</ion-toggle>
      <ion-toggle ng-model="Data.allowSocket" toggle-class="toggle-balanced">Allow socket connection</ion-toggle>
      <div class="item range range-balanced">
        <i class="icon ion-ios-speedometer-outline"></i>
        <input type="range" name="volume" min="0.1" max="3" step="0.1" ng-model="Data.cubeSpeed">
        <i class="icon ion-cube"></i>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
